<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="4">
    <parameter name="browser" value="chrome" />
    <test name="test1">
        <classes>
            <class name="parallelExecution.SampleUITests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->

